.login {
    height: 100vh;
    background-image: url('/background.jpg');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login>form {
    min-height: 350px;
    background-color: transparent;
    width: 30vw;
    max-width: 500px;
    border-radius: 15px;
    box-shadow: 2px 2px 2px inset white, 2px 2px 2px white;
    padding: 20px;
    text-align: center;
    color: white;
    margin: 15px;
}

.login>form>input::placeholder {
    color: white;
}

.menu {
    height: 100vh;
    background-image: url('background.jpg');
    background-size: cover;
    overflow-y: scroll;
    scrollbar-width: none;  /* Firefox */
    -ms-overflow-style: none;  /* Internet Explorer and Edge */
}

.menu::-webkit-scrollbar {
    display: none;  /* Chrome, Safari, Opera */
}

/* Apply the same to the menu container */
.menu .container {
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.menu .container::-webkit-scrollbar {
    display: none;
}

.contact {
    height: 100vh;
    background-image: url('/background.jpg');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact>form {
    height: 350px;
    background-color: transparent;
    width: 30vw;
    border-radius: 15px;
    box-shadow: 2px 2px 2px inset white, 2px 2px 2px white;
    padding: 20px;
    text-align: center;
    color: white;
}

.contact>form>input::placeholder {
    color: white;
}

.home {
    height: 100vh;
    background-image: url('/background2.jpg');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}